html {
	background-color: #fafafa;
}

#heading {

}

#howto {
	margin-left: 50px;
}

#content {
	margin: 0 auto;
	display: table;
	margin-top: 50px;
}

form {
	margin-top: 24px;
}

#input_url {
	font-family: "Formular";
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.02em;
	text-align: left;
	background: #fff;
	border: 1px solid #000000;
	box-sizing: border-box;
	width: 500px;
	height: 50px;
	vertical-align: middle;
	padding: 12px 24px;
	margin-top: -4px;
	margin-right: -45px;
	border-radius: 100px;
}

#input_url:hover, #submit:hover {
	border: 2px solid blue;
}

#input_url:hover {
	padding: 11px 23px;
}

#submit {
	font-family: "Formular";
	font-size: 16px;
	letter-spacing: -0.02em;
	text-align: center;
	background: #E81C23;
	border: 1px solid #000000;
	border-radius: 0px 100px 100px 0px;
	box-sizing: border-box;
	width: 200px;
	height: 50px;
	margin-top: -8px;
	color: white;
}

#submit:active {
	background: #ff8a93;
}

form p {
	display: inline-block;
}

textarea {
  background-color: #343D46;
  color: #99C794;
}

#toosmall {
	display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ABADAE;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ABADAE;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ABADAE;
}





@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1000px) {
	#toosmall {
		font-family: "Formular";
		display: block;
		position: relative;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
		width: 222px;
		margin: 0 auto;
		padding: 8px 24px;
		border: solid 1px black;
		margin-top: 35%;
	}
	html {
		background: none;
	}
	.mobile-none {
		display: none;
	}
}


@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('Archia-Regular.otf') format('otf');
}

@font-face {
font-family: 'Formular';
font-style: normal;
font-weight: normal;
src: local('Formular'), url('formular.otf') format('otf');
}

@font-face {
font-family: 'Space Mono Regular';
font-style: normal;
font-weight: normal;
src: local('Space Mono Regular'), url('SpaceMono-Regular.ttf') format('ttf');
}
